<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Smiles&Spices</title>
    <link rel="icon" type="images/png" href="/static/assets/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body class="d-flex flex-column">


{% block header %}
{% endblock %}

<nav class="navbar navbar-expand-lg bg-body-transparent fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('admin_bp.login_admin') }}"><img src="/static/assets/logo.png" width="100" height="100"></a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse position-absolute top-0 start-50 translate-middle-x bg-body-tertiary rounded" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center" >
            {% if current_user.is_authenticated %}
            <li class="nav-item" >
                <a class="nav-link" aria-current="page" href="{{ url_for('menu_bp.add_menu') }}" id="admin-access-menu">Admin</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('core.home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('menu_bp.menu') }}">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('reservation_bp.reservation') }}">Reservation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact_bp.contact') }}">Contact</a>
            </li>
            <li class="nav-item border border-success rounded">
                <div class="dropdown" >
                    <div class="row " id="cart-display">
                        <div class="col-2">
                            <a href="{{ url_for('delivery_bp.delivery') }}" class="nav-link " >
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                                <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="col-10  ">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <p>Products</p>
                                </div>
                                <div class="col-6 text-center">
                                    <p>Total</p>
                                </div>
                                {% if session["cart"] %}
                                <div class="row text-center">
                                    <div class="col-6 ">
                                        <p>{{ session["cart"]|length }}</p>
                                    </div>
                                    <div class="col-6">
                                        <p>{{ session["total_price"] }}.00</p>
                                    </div>
                                </div>
                                {% else %}
                                <div class="row text-center">
                                    <div class="col-6 ">
                                        <p>0</p>
                                    </div>
                                    <div class="col-6">
                                        <p>0</p>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li class="dropdown-item">
                            {% if session["cart"] %}
                            {% for carts in session["cart"] %}
                            <div class="container border border-success rounded">
                                <div class="row">
                                {% for name in carts[0] %}
                                {% for img in carts[1] %}
                                    <div class="col-7">
                                        <p>{{ name }}</p>
                                        <div class="col"><p>{{ carts[0][name] }} x {{ carts[1][img] }}.00</p></div>
                                    </div>
                                    <div class="col-3"><img src="{{ url_for('static', filename='assets/' + img) }}" id="img-cart"></div>
                                    <div class="col-2" id="delete-cart-button"><a href="{{ url_for('menu_bp.delete_cart', name=name) }}" type="button" class="btn-close" aria-label="Close"></a></div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endfor %}
                            {% endfor %}
                            <div class="container" id="total-price">
                                <hr>
                                <p><b>Total:</b> {{ session["total_price"] }}.00 lei</p>
                            </div>
                            {% else %}
                            <p class="text-center">You have no items in your cart</p>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item" id="order-button">
                <a href="{{ url_for('menu_bp.menu') }}"><button class="btn btn-success">Order</button></a>
            </li>
            </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}

<script src="{{ url_for('static', filename='master.js') }}"></script>
</body>
</html>